body, h1, h2, h3, p {
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header#home {
    padding-top: 20px; /* Adjust this value as needed */
}
.center-text {
    text-align: center;
}

body {
    font-family: 'Hedvig Letters Serif', serif;
    font-weight: 300;
    background-color: #fff;
    color: #333;
    line-height: 1.6;
}
.card-img-custom {
    width: 150px;
    height: auto;
}

h3 {
    text-align: center;
}

.contact-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    border-radius: 8px;
}

.contact-form h2 {
    text-align: center;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form label {
    align-self: flex-start;
    margin-top: 10px;
}

.contact-form input[type=text],
.contact-form input[type=email],
.contact-form input[type=tel],
.contact-form select,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form input[type=submit] {
    background-color: #445069;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.contact-form input[type=submit]:hover {
    background-color: #588A9F;
}

header#home img {
    max-width: 250px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #445069;
}

.nav li {
    float: left;
}

.rounded-image img {
    border-radius: 60%;
}

.nav li a, .dropbtn {
    display: inline-block;
    text-align: center;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover, .dropdown:hover .dropbtn {
    background-color: #588A9F;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

section {
    padding: 2em;
}

footer {
    background-color: #588A9F;
    color: white;
    text-align: center;
    padding: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* Spacing between cards */
    padding: 20px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 20px;
    margin-right: 15px; /* Adjust the value as needed for the desired spacing */
    width: 300px; /* Adjust width as needed */
    background-color: #D9D9D9;
}

.card h3 {
    color: #333;
    margin-bottom: 10px;
}

.card ul {
    list-style: none;
    padding: 0;
}

.card li {
    margin-bottom: 10px;
    font-size: 14px;
}

.banner img {
    width: 100%; /* Makes the image cover the full width */
    height: auto; /* Keeps the aspect ratio of the image */
    display: block; /* Ensures the image is a block-level element */
    margin: 0 auto; /* Centers the image */
}
.contact-form {
    width: 80%; /* You can adjust the width as needed */
    max-width: 600px; /* Set a maximum width if desired */
    margin: 0 auto; /* Center the form horizontally */
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
